/* overlay longhand code
  border-width: 10px;
  border-style: solid;
  border-image-slice: fill 1;
  border-image-source: linear-gradient(hsla(159, 68%, 35%, 0.3), hsl(142, 89%, 78%, 0.3)); */

/* >600px,  601px, 760px, 992px, 1200px BREAKPOINTSx */
:root {
  --font-playfair: "Playfair", serif;
  --font-great-vibes: "Great Vibes", cursive;
  --font-pacifico: "Pacifico", cursive;
  --font-lora: "Lora", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-sacramento: "Sacramento", cursive;
  --h1-size: 64px;
  --h2-size: 45px;
  --h3-size: 30px;
  --p-size: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--h1-size);
  color: white;
}
h2 {
  font-family: var(--font-montserrat);
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
  font-family: var(--font-roboto);
}
p {
  font-family: var(--font-playfair);
  font-size: var(--p-size);
}
a {
  text-decoration: none;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.overlay {
  border-image: fill 1
    linear-gradient(hsl(312, 100%, 50%, 0.3), hsl(240, 50%, 40%, 0.3));
}
.polygon {
  background-image: url(./images/background/cropped-mountain.png);
  background-size: cover;
  background-position: center;
  height: 50vh;
  background-repeat: no-repeat;
}
/* HEADER LOGO SECTION ------------------------------------------------------------------------------------------------------------*/
#header-section {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  gap: 10%;
  background-color: #f3f3f1;
}

.word-icon-wrapper {
  display: flex;
  width: max-content;
  padding: 10px;
}
.word-icon {
  font-family: var(--font-sacramento);
  font-size: 10vh;
  font-weight: 600;
  color: #000;
}
.word-icon:hover {
  color: transparent;
  background: linear-gradient(
    360deg,
    rgba(199, 255, 221, 0.7) 5%,
    rgba(255, 0, 204, 0.702) 40%,
    rgba(51, 51, 153, 0.702) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  filter: drop-shadow(0 5px 0px rgb(0, 0, 0, 0.4));
}
/* HEADER NAVBAR SECTION ------------------------------------------------------------------------------------------------------------*/
#nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-family: var(--font-lato);
  font-size: var(--h3-size);
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}
.nav-link {
  color: #1a1a1a;
  padding: 2px 5px;
}
.nav-link:link {
  color: #1a1a1a;
}
.nav-link:visited {
  /* color: #ef629f; */
  /* color: #808080; */
  color: #1a1a1a;
}
.nav-link:hover {
  cursor: pointer;
  color: #ff00ccb3;
  /* box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.5); */
  filter: drop-shadow(0 3px 0px rgb(0, 0, 0, 0.2));
}
.nav-link:active {
  color: purple;
}
/* HERO SECTION ------------------------------------------------------------------------------------------------------------*/
#hero-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 3px;
  position: relative;
}
/* hero image div */
.hero {
  background-image: url(./images/background/all_ages_workshop.jpeg);
  background-size: cover;
  background-position: center 22%;
  background-repeat: no-repeat;
  /* min-block-size: 80vh; */
  height: 90vh;
  align-items: start;
  justify-content: left;
  display: flex;
  text-align: left;
  padding: 1% 0 0 1%;
}
/* CTA button */
.button-wrapper {
  /* display: block; */
  text-align: center;
  position: absolute;
  bottom: 10%;
  align-self: center;
}
.button {
  border: double 3px;
  /* box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2); */
  display: inline-block;
  font-size: var(--p-size);
  padding: 16px 32px;
  width: auto;
}
.cta-button {
  color: #fff;
  font-family: var(--font-lato);
  font-size: 20px;
}
.cta-button:hover {
  background: linear-gradient(
    hsl(144, 100%, 47%, 0.5),
    hsl(210, 96%, 46%, 0.5)
  );
  box-shadow: inset 0 0 10px hsl(144, 100%, 89%, 0.8);
  color: #e6e6e6;
  cursor: pointer;
}
/* ABOUT SECTION ------------------------------------------------------------------------------------------------------------*/
#about-section {
  /* margin: 5px; */
  display: flex;
  height: 60vh;
  flex-wrap: wrap;
}
.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 60px;
  background-color: #f3f3f1;
}
.span-craftsvilla {
  font-family: var(--font-sacramento);
  font-size: 32px;
  font-weight: 600;
}
.mission-statement p {
  font-size: 26px;
  width: 40%;
  line-height: 2;
  text-align: justify;
}
/* SERVICE SECTION ------------------------------------------------------------------------------------------------------------*/
#service-section {
  margin: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
}
#service-section img {
  width: 100%;
}
#service-section h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
}
.articles-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.articles-container h3 {
  margin-top: 20px;
  text-align: center;
  color: #24243e;
}
.description-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  background-color: transparent;
}
#mosaic {
  width: 30%;
  /* background-color: #ff5f6d; */
  background: #ff5f6d;
  background: linear-gradient(
    250deg,
    rgba(255, 95, 109, 0.4) 0%,
    rgba(255, 161, 95, 0.4) 50%,
    rgba(255, 95, 189, 0.4) 100%
  );
  display: flex;
  flex-direction: column;
  /* padding: 10px 10px 0px 10px; */
  gap: 5px;
}
.mosaic-service {
  display: flex;
  flex-direction: column;
}
#watercolor {
  width: 30%;
  /* background-color: #b0dab9; */
  background: #b0dab9;
  background: linear-gradient(
    50deg,
    rgba(176, 218, 185, 0.6) 0%,
    rgba(185, 176, 218, 0.6) 50%,
    rgba(218, 185, 176, 0.6) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.watercolor-service {
  display: flex;
  flex-direction: column;
}
#canvas {
  width: 30%;
  /* background-color: #ffc371; */
  background: #ffc371;
  background: linear-gradient(
    100deg,
    rgba(255, 195, 113, 0.4) 0%,
    rgba(113, 255, 195, 0.4) 50%,
    rgba(195, 113, 255, 0.4) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.canvas-service {
  display: flex;
  flex-direction: column;
}
.span-kit {
  font-weight: 800;
  font-size: 22px;
}
.price {
  font-weight: 700;
  font-size: 24px;
}

/* BENEFITS SECTION ------------------------------------------------------------------------------------------------------------*/
#benefits-section {
  margin: 0 5px 5px;
  /* background-color: #f3f3f1; */
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./images/background/watercolor-stain2.avif);
  background-size: cover;
  background-position: center;
}
#benefits-section h2 {
  text-align: center;
  margin-top: 2%;
}
.image-container {
  display: flex;
  height: 80vh;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 5%;
}
.image-box {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  /* border: solid #6a836f; */
  /* scrollbar is at the end of section */
}
.image-box img {
  height: 85%;
}
.image-caption {
  text-align: center;
  padding: 10px;
}
.image-caption p {
  font-family: var(--font-pacifico);
  font-size: 24px;
  color: #302b63;
}
/* WORKSHOPS SECTION ------------------------------------------------------------------------------------------------------------*/
#workshops-section {
  margin: 5px;
  background-color: #dad299;
}
/* FOOTER SECTION ------------------------------------------------------------------------------------------------------------*/
#footer-section {
  margin: 0 5px 5px;
  display: flex;
  flex-direction: column;
}
.footer-wrapper-top {
  background-color: #ff0099;
  display: flex;
}
.footer-left {
  background-color: #000;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-list {
  display: flex;
  gap: 15px;
  list-style-type: none;
  font-size: 24px;
  font-family: var(--font-lato);
}
.footer-list a {
  color: #fff;
}
.footer-middle {
  display: flex;
  align-items: center;
  background-color: black;
  width: 33.33%;
  height: 20vh;
  justify-content: center;
  gap: 5px;
}
.footer-word-wrapper {
  display: flex;
}
.footer-middle p {
  font-family: var(--font-sacramento);
  color: #fff;
  font-size: var(--h2-size);
  padding: 5px;
}
.footer-middle p:hover {
  color: #f3f9a7;
  cursor: pointer;
}
.footer-right {
  background-color: #000;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-copyright {
  /* background-color: #f3f9a7; */
  background: linear-gradient(90deg, #94e2b6, #c0fc97);
  text-align: center;
  padding: 6px;
  font-size: 18px;
  font-family: var(--font-playfair);
  color: #000;
}
.footer-list a:link {
  color: #fff;
}
.footer-list a:visited {
  color: #b3b3b3;
}
.footer-list a:hover {
  color: #94e2b6;
}
.footer-list a:active {
  color: #ff5f6d;
}
/* BOOKING PAGE  ------------------------------------------------------------------------------------------------------------*/
/* MOSAIC SECTION  ------------------------------------------------------------------------------------------------------------*/
.product-card {
  /* all product cards on booking page */
  /* width: 100%; */
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  /* general snap property */
  scroll-padding-inline: var(--_spacer);
  /* padding x axis left-right */
}
.snaps-inline > * {
  /* selects all the direct children elements */
  scroll-snap-align: start;
  /* snaos but left padding disappears */
}
#mosaic-products {
  /* height: 100%; */
}
.mosaic-articles {
  /* div for all product cards */
  --_spacer: 2rem;
  /* private variable not part of root */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  gap: var(--_spacer);
  padding: var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  /* to contain scrolling */
}
.mosaic-card {
  /* product cards on mosaic section only */
  /* display: grid;
  gap: 2rem; */
  padding: 1rem;
  background: #ff5f6d;
  background: linear-gradient(
    250deg,
    rgba(255, 95, 109, 0.4) 0%,
    rgba(255, 161, 95, 0.4) 50%,
    rgba(255, 95, 189, 0.4) 100%
  );
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.mosaic-card > img {
  /* targets direct images */
  inline-size: 100%;
  /* logical width property */
  aspect-ratio: 16/9;
  object-fit: cover;
}
#watercolor-products {
  /* height: 100%; */
}
#canvas-products {
  /* height: 100%; */
}
.products-section {
  /* height: 100vh; */
  /* div wrapper around all products IDs */
}
/* HEADER NAVBAR SECTION ------------------------------------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------------------------------------------------------*/
