/* overlay longhand code
  border-width: 10px;
  border-style: solid;
  border-image-slice: fill 1;
  border-image-source: linear-gradient(hsla(159, 68%, 35%, 0.3), hsl(142, 89%, 78%, 0.3)); */

/* >600px,  601px, 760px, 992px, 1200px BREAKPOINTSx */
:root {
  --font-playfair: "Playfair", serif;
  --font-great-vibes: "Great Vibes", cursive;
  --font-pacifico: "Pacifico", cursive;
  --font-lora: "Lora", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-sacramento: "Sacramento", cursive;
  --h1-size: 60px;
  --h2-size: 45px;
  --h3-size: 30px;
  --p-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: var(--h1-size);
  color: white;
}
a {
  text-decoration: none;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.overlay {
  border-image: fill 1
    linear-gradient(hsl(312, 100%, 50%, 0.3), hsl(240, 50%, 40%, 0.3));
}
/* HEADER LOGO SECTION -------------------------------------*/
#header-section {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  gap: 5px;
}
.logo-wrapper {
  height: max-content;
  width: max-content;
  display: flex;
  background-color: linear-gradient(
    hsl(210, 96%, 46%, 0.5),
    hsl(210, 96%, 46%, 0.5)
  );
  /* border-image: fill 1
    linear-gradient(hsl(210, 96%, 46%, 0.5), hsl(210, 96%, 46%, 0.5)); */
  /* margin-right: 3px; */
}
.draw-icon-wrapper {
  padding: 5px;
  background-color: #fff;
}
.draw-icon {
  height: 15vh;
}
.word-icon-wrapper {
  /* background-color: hsl(144, 100%, 47%, 0.5); */
  background: linear-gradient(
    hsl(144, 100%, 47%, 0.5),
    hsl(210, 96%, 46%, 0.5)
  );
  padding: 3px 10px 5px 5px;
}
.word-icon {
  font-family: var(--font-sacramento);
  font-size: 10vh;
  font-weight: 599;
  color: #000;
}
/* HEADER NAVBAR SECTION -------------------------------------*/
#nav-section {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  background: linear-gradient(
    360deg,
    hsl(355, 100%, 69%, 0.5),
    hsl(35, 100%, 72%, 0.5)
  );
  /* margin: 3px; */
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-family: var(--font-roboto);
  font-size: var(--h3-size);
  flex-wrap: wrap;
  width: 70%;
  gap: 20px;
}
.nav-link {
  color: #1a1a1a;
  padding: 2px 5px;
}
.nav-link:link {
  color: #1a1a1a;
}
.nav-link:visited {
  /* color: #ef629f; */
  color: #808080;
}
.nav-link:hover {
  color: hsl(334, 82%, 66%, 0.9);
  border: solid white 3px;
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}
.nav-link:active {
  color: purple;
}
/* HERO SECTION -------------------------------------*/
#hero-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 3px;
  position: relative;
}
/* hero image div */
.hero {
  background-image: url(./images/background/all_ages_workshop.jpeg);
  background-size: cover;
  background-position: center 22%;
  background-repeat: no-repeat;
  /* min-block-size: 80vh; */
  height: 90vh;
  align-items: start;
  justify-content: left;
  display: flex;
  text-align: left;
  padding: 1% 0 0 1%;
}
/* CTA button */
.button-wrapper {
  /* display: block; */
  text-align: center;
  position: absolute;
  bottom: 10%;
  align-self: center;
}
.button {
  border: double 3px;
  /* box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2); */
  display: inline-block;
  font-size: var(--p-size);
  padding: 16px 32px;
  width: auto;
}
.cta-button {
  /* background-color: #000; */
  /* background: linear-gradient(hsl(159, 68%, 35%, 0.9), hsl(142, 89%, 78%, 0.9)); */
  color: #fff;
  font-family: var(--font-lato);
  font-size: 20px;
}
.cta-button:hover {
  background: linear-gradient(
    hsl(144, 100%, 47%, 0.5),
    hsl(210, 96%, 46%, 0.5)
  );
  box-shadow: inset 0 0 10px hsl(144, 100%, 89%, 0.8);
  color: #e6e6e6;
  cursor: pointer;
}
/* ABOUT SECTION -------------------------------------*/
#about-section {
  margin: 5px;
  display: flex;
}
.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/background/polygon.avif);
  border-image: fill 1
    linear-gradient(hsl(0, 0%, 0%, 0.3), hsl(0, 0%, 100%, 0.5));
  gap: 40px;
}
.mission-statement h2 {
  font-family: var(--font-montserrat);
  font-size: var(--h2-size);
}
.span-craftsvilla {
  font-family: var(--font-sacramento);
  font-size: 26px;
  font-weight: 600;
}
.mission-statement p {
  font-size: 20px;
  width: 60%;
  line-height: 1.7;
  text-align: justify;
}
.span-craftsvilla:hover {
  background: linear-gradient(
    hsl(144, 100%, 47%, 0.5),
    hsl(210, 96%, 46%, 0.5)
  );
  cursor: pointer;
  padding: 2px;
}
/* SERVICE SECTION -------------------------------------*/
#service-section {
  margin: 5px;
  background-color: #70e1f5;
}
/* BENEFITS SECTION -------------------------------------*/
#benefits-section {
  margin: 5px;
  background-color: #b0dab9;
}
/* WORKSHOPS SECTION -------------------------------------*/
#workshops-section {
  margin: 5px;
  background-color: #dad299;
}
/* ---------------------------------- */
